body {
  font-family: Arial, sans-serif;
  background: #e6e6e6;
  margin: 0;
  height:100dvh;
  display: flex;
  align-items: center;
}

#app {
  max-width: 100dvw;
  background: #e4e4e4;
  border-radius: 1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  max-height:95dvh;
  display: grid;
  grid-template-rows: 2fr 8fr 2fr;
  flex-direction: column;
}

p{
  margin:0em;
}

h1 {
  color: rgb(66, 66, 66);
  font-size: 3dvh;
  text-align: center;
  margin:0em;
}

h2{
  font-size: 2dvh;
  color: rgb(82, 81, 81);
  text-align: center;
  margin:0em;
}

.page-description{
  font-size: 3dvw;
  color: rgb(82, 81, 81);
  text-align: center;
  margin: 2em 0em 1em 0em
}

.add-item-container {
  grid-row: 3;
  padding:0.5em;
  border: solid 0.4em #33c7ac;
  background-color: #ffffff;
  border-radius: 1em;
}

.add-item-header {
  text-align: center;
  color: rgb(66, 66, 66);
  font-size: 2.5dvh;
  padding-bottom:1em;
}

.add-item-form{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.add-item-list {
  list-style: none;
  padding: 0;
}

.add-item-button {
  background-color: #33c7ac;
  color: white;
  border: none;
  padding: 1em;
  border-radius: 1em;
  cursor: pointer;
}

.remove-item-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.shopping-list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-bottom: 0.1em solid #ddd;
}

.shopping-list-container {
  grid-row: 2;
  padding: 0.5em;
  border:solid 2vw rgb(205, 239, 223);
  border-radius: 1em;
  margin: 1em 0em 1em 0em;
  background-color: white;

}
.shopping-list-header {
  text-align: center;
  background-color: rgb(205, 239, 223);
  padding: 1em 0em 1em 0em;
  border-radius: 1em;
}

.shopping-list{
  height: 40dvh;
}

.shopping-list-ul{
    overflow: scroll;
    height: 100%;
}

ul{
  padding: 0em;
}

.header-container {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  padding: 1em;
  background-color: white;
}